language: python

python:
  - "3.9"
  - "3.10"

os:
  - linux

script:
  - pipenv run pytest

deploy:
  provider: pypi
  user: opaka
  password:
    secure: pypi-AgEIcHlwaS5vcmcCJDI0N2MyYmFkLTk3NGMtNGYzNS1hNTFlLWNhMjkyYmZhNmMwNgACJXsicGVybWlzc2lvbnMiOiAidXNlciIsICJ2ZXJzaW9uIjogMX0AAAYgSOMZhC82mn0DRBb5iNZvKIlnwe4CbKK4p5Ff992rMxw
  on:
    tags: true
