appdirs==1.4.4
bleach==3.3.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
distlib==0.3.1
docutils==0.16
filelock==3.0.12
keyring==22.3.0
packaging==20.9
pipenv==2020.11.15
pkginfo==1.7.0
py-package-template==0.2.0
Pygments==2.8.0
pyparsing==2.4.7
pypiwin32==223
pywin32==300
pywin32-ctypes==0.2.0
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
tqdm==4.58.0
urllib3==1.26.3
virtualenv==20.4.2
virtualenv-clone==0.5.4
webencodings==0.5.1
winshell==0.6
